.wrap {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.title {
    text-align: center;
    font-family: 'apalu', sans-serif;
    .link {
        font-size: 64px;
        transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
        &:hover {
            opacity: 0.75;
        }
    }
}
.images {
    text-align: right;
}